doctype html 
html
    head 
        // title #{title}
        title Form Data
        body 
            h1 user form
            form(action="",method="GET") 
                label Name 
                Input (type="text",name="name",placeholder="Enter Name", required)
                br
                label Email 
                Input (type="text",name="email",placeholder="Enter Email", required)
                br
                Input (type="submit", value="submit")

                
          //  include ./header.pug

           // this home page

            // if(users)

            //    h1 this text with name (#{users.name}) age is (#{users.age})
            // else 

            // a(href="/signup")

            // p.firstClass.secondClass#myId Pub template
            // div Div Define 
            // h1 headline
            // div.container(width="100",height="100",style="background-color:red;") another div
            // Comments


